body {
    @dark: #0369B1;
    @light: #0497CB;
    background-color: #0497CB;

}

h1, h2, h3 {
    font-family: monospace;
    color: #0369B1;
    margin-bottom: 5px;
}

h3 {
    font-size: 2em;

}

input{
    width: 200px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: monospace;
    font-size: 1em;
    background-color: #0497CB;
    border: 1px solid white;
    color: #0369B1;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0369B1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0369B1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0369B1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0369B1;
}

#forgotPasswordText {
    color: white;
    font-size: 0.8em;
}

.standardButton {
    margin-top: 20px;
    background-color: #0369B1;
    color: white;
    border-color: #0369B1;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    box-shadow: none;
    padding: 0 0 0 0;
    font-family: monospace;
    font-size: 1.2em;
}

.standardButton:hover {
    background-color: #0369B1;
    color: white;
    border-color: white;
}

.answerButton {
    margin-top: 5px;
    background-color: #0369B1;
    color: white;
    border-color: #0369B1;
    width: 45%;
    height: 25.3125%;
    font-size: 1.2em;
    box-shadow: none;
    padding: 0 0 0 0;
    font-family: monospace;
    font-size: 1.2em;
}

.answerButton:hover {
    background-color: #0369B1;
    color: white;
    border-color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.verticalCentering {
    position: relative;
    top: 35%;
    transform: translateY(-35%);
}