body {
    @dark: #0369B1;
    @darker: #035a98;
    @darkest: #034b7f;
    @light: #0497CB;
    background-color: #0497CB;

}

html, body {
    height: 100%;
}

h1, h2, h3, li {
    font-family: monospace;
    color: #034b7f;
    margin-bottom: 5px;
}

h3 {
    font-size: 2em;
}

input{
    width: 200px;
    height: 50px;
    margin-left: 2px;
    margin-top: 5px;
    font-family: monospace;
    font-size: 1em;
    background-color: #0497CB;
    border: 1px solid white;
    color: #034b7f;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #034b7f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #034b7f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #034b7f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #034b7f;
}

ul{
    list-style-type: none;
    color: #034b7f;
    font-size: 1.2em;
}

#newUserText {
    color: white;
    margin-top: 20px;
    font-size: 0.8em;
}

#playerList {
    margin-left: -40px;
    margin-right: auto;
    text-align: center;
}

#errorText {
    margin-top: 250px;
    font-family: monospace;
    color: #034b7f;
}

#notificationText {
    font-family: monospace;
    color: #034b7f;
}

.standardButton {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #034b7f;
    color: white;
    border-color: #034b7f;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    box-shadow: none;
    padding: 0 0 0 0;
    font-family: monospace;
    font-size: 1.2em;
}

.standardButton:hover {
    background-color: #034b7f;
    color: white;
    border-color: white;
}

.answerButton {
    margin-top: 5px;
    background-color: #034b7f;
    color: white;
    border-color: #034b7f;
    width: 45%;
    height: 25.3125%;
    font-size: 1.2em;
    box-shadow: none;
    padding: 0 0 0 0;
    font-family: monospace;
    font-size: 1.2em;
}

.answerButton:hover {
    background-color: #034b7f;
    color: white;
    border-color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.verticalCentering {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.contentWrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 100px; /* .push must be the same height as .footer */
}

.glyphiconGreen {
    color: #00ff00;
}



